@model IEnumerable<PackageFoodManagementSystem.Repository.Models.Inventory>

@{
    ViewData["Title"] = "Admin Inventory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container my-4">
    <h2 class="mb-4 text-center">Inventory Management</h2>

    <div class="row mb-4">

        <div class="col-md-3">
            <div class="card shadow-sm text-center">
                <div class="card-body">
                    <h5 class="text-muted">Total Products</h5>
                    <h3>@ViewBag.TotalProducts</h3>
                    <button class="btn btn-sm btn-primary mt-2"
                            data-bs-toggle="modal"
                            data-bs-target="#TotalProductsDetailsModal">
                        View Details
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card shadow-sm text-center">
                <div class="card-body">
                    <h5 class="text-muted">Total Batches</h5>
                    <h3>@ViewBag.TotalBatches</h3>
                    <button class="btn btn-sm btn-primary mt-2"
                            data-bs-toggle="modal"
                            data-bs-target="#batchDetailsModal">
                        View Details
                    </button>
                </div>
            </div>
        </div>
        @* <div class="col-md-3">
            <div class="card shadow-sm text-center">
                <div class="card-body">
                    <h5 class="text-muted">Total Categories</h5>
                    <h3>@ViewBag.TotalCategories</h3>
                    <button class="btn btn-sm btn-primary mt-2"
                            data-bs-toggle="modal"
                            data-bs-target="#categoryDetailsModal">
                        View Details
                    </button>
                </div>
            </div>
        </div> *@
        <div class="col-md-3">
            <div class="card shadow-sm text-center">
                <div class="card-body">
                    <h5 class="text-muted">Low Stock</h5>
                    <h3>@ViewBag.LowStock</h3>
                    <button class="btn btn-sm btn-primary mt-2"
                            data-bs-toggle="modal"
                            data-bs-target="#LowStockDetailsModal">
                        View Details
                    </button>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card shadow-sm text-center">
                <div class="card-body">
                    <h5 class="text-danger">Out of Stock</h5>
                    <h3>@ViewBag.OutOfStock</h3>
                    <button class="btn btn-sm btn-danger mt-2"
                            data-bs-toggle="modal"
                            data-bs-target="#OutOfStockDetailsModal">
                        View Details
                    </button>

                </div>
            </div>
        </div>
    </div>

    <div class="card shadow">
        <div class="card-header d-flex justify-content-between align-items-center bg-white">
            <h5 class="mb-0">Inventory Details</h5>
            <div class="dropdown">
                @* <div class="card-header d-flex justify-content-between align-items-center bg-white">
                   

                </div> *@

            </div>
        </div>
        <div class="card-body p-0">

            <table class="table table-hover align-middle mb-0">
                <thead class="table-light">
                    <tr>
                        <th class="ps-3">Batch ID</th>
                        <th>Product Name</th>
                        <th>Category</th>
                        <th class="text-center">Total Quantity</th>
                        <th>Expiry Date</th>
                        @* <th class="text-end pe-3">Actions</th> *@
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Any())
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.BatchId</td>
                                <td>@(item.Product?.ProductName ?? "Unknown")</td>
                                <td>@item.Category</td>
                                <td class="text-center">@item.StockQuantity</td>
                                <td>@item.Batch?.ExpiryDate.ToString("dd/MM/yyyy")</td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="5" class="text-center text-muted">No inventory records found.</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


<div class="modal fade" id="statDetailsModal" tabindex="-1" aria-labelledby="modalTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitle">Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead id="modalTableHeader" class="table-dark">
                        </thead>
                        <tbody id="modalTableBody">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="OutOfStockDetailsModal" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Out of Stock Products</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <table class="table table-striped table-hover">
                    <thead class="table-dark">
                        <tr>
                            <th>Product ID</th>
                            <th>Product Name</th>
                            <th>Category</th>
                            <th>System Quantity</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (ViewBag.OutOfStockList != null)
                        {
                            foreach (var prod in ViewBag.OutOfStockList)
                            {
                                <tr>
                                    <td>@prod.ProductId</td>
                                    <td>@prod.ProductName</td>
                                    <td>@prod.Category</td>
                                    <td class="text-danger">@prod.Quantity</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@* Category Details *@
<div class="modal fade" id="categoryDetailsModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Available Categories</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table table-striped table-hover">
                    <thead class="table-dark">
                        <tr>
                            <th>#</th>
                            <th>Category Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (ViewBag.CategoryList != null)
                        {
                            int index = 1;
                            foreach (var cat in (List<string>)ViewBag.CategoryList)
                            {
                                <tr>
                                    <td>@index</td>
                                    <td>@cat</td>
                                </tr>
                                index++;
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@* batch Details *@

<div class="modal fade" id="batchDetailsModal" tabindex="-1" aria-labelledby="batchModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header text-white">
                <h5 class="modal-title" id="batchModalLabel">
                    <i class="bi bi-stack me-2"></i>Current Inventory Batches
                </h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-hover align-middle">
                        <thead class="table-dark">
                            <tr>
                                <th>Batch ID</th>
                                <th>Product Name</th>
                                <th>ProductID</th>

                                <th>Quantity</th>
                                <th>Manufacture</th>
                                <th>Expiry</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td class="fw-bold">#@item.BatchId</td>
                                        @* <td>@(item.Product?.ProductName ?? "Product " + item.ProductId)</td> *@
                                        <td>@item.Product?.ProductName</td>
                                        <td>@item.ProductId</td>
                                        <td>@item.StockQuantity</td>
                                        <td>@(item.Batch?.ManufactureDate.ToString("dd MMM yyyy") ?? "N/A")</td>
                                        <td>@(item.Batch?.ExpiryDate.ToString("dd MMM yyyy") ?? "N/A")</td>
                                        <td>
                                            @if (item.Batch?.ExpiryDate < DateTime.Now)
                                            {
                                                <span class="badge bg-danger">Expired</span>
                                            }
                                            else
                                            {
                                                <span class="badge bg-success">Active</span>
                                            }
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>

@* Products *@
<div class="modal fade" id="TotalProductsDetailsModal" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">All Products Inventory</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <table class="table table-striped table-hover">
                    <thead class="table-dark">
                        <tr>
                            <th>Product ID</th>
                            <th>Product Name</th>
                            <th>Category</th>
                            <th>Total Quantity</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (ViewBag.AllProductsList != null)
                        {
                            foreach (var prod in ViewBag.AllProductsList)
                            {
                                <tr>
                                    <td>@prod.ProductId</td>
                                    <td>@prod.ProductName</td>
                                    <td>@prod.Category</td>
                                    <td>
                                        <span class="badge @(prod.Quantity > 0 ? "bg-info" : "bg-secondary")">
                                            @prod.Quantity
                                        </span>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="4" class="text-center">No products found.</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


@* LowStock *@
<div class="modal fade" id="LowStockDetailsModal" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Stock Less Than 20 Units</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <table class="table table-striped table-hover">
                    <thead class="table-dark">
                        <tr>
                            <th>Product ID</th>
                            <th>Product Name</th>
                            <th>Category</th>
                            <th>Total Quantity</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (ViewBag.LowStockList != null)
                        {
                            foreach (var prod in ViewBag.LowStockList)
                            {
                                <tr>
                                    <td>@prod.ProductId</td>
                                    <td>@prod.ProductName</td>
                                    <td>@prod.Category</td>
                                    <td>
                                        <span class="badge @(prod.Quantity > 0 ? "bg-info" : "bg-secondary")">
                                            @prod.Quantity
                                        </span>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="4" class="text-center">No products found.</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>